.basic-4 {
	padding-top: 9.25rem;
	padding-bottom: 9.75rem;
	text-align: center;
}

.basic-4 h4 {
	margin-bottom: 2rem;
}

.cards-2 {
	padding-top: 9.5rem;
	padding-bottom: 5rem;
}

.cards-2 .h2-heading {
	margin-bottom: 3.75rem;
	text-align: center;
}

.cards-2 .card {
	max-width: 350px;
	margin-right: auto;
	margin-bottom: 4.5rem;
	margin-left: auto;
	border: none;
}

.cards-2 .card img {
	margin-bottom: 2rem;
	border-radius: 10px;
}

.cards-2 .card-body {
	padding: 0;
}

.bg-gray {
	background-color: #f9fafe;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid var(--primary-yellow);
	border-radius: 30px;
	background-color: var(--primary-yellow);
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.cards-2 {
	padding-top: 9.5rem;
	padding-bottom: 5rem;
}

.cards-2 .h2-heading {
	margin-bottom: 3.75rem;
	text-align: center;
}

.cards-2 .card {
	max-width: 350px;
	margin-right: auto;
	margin-bottom: 4.5rem;
	margin-left: auto;
	border: none;
}

.cards-2 .card img {
	margin-bottom: 2rem;
	border-radius: 10px;
}

.cards-2 .card-body {
	padding: 0;
}